<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Proyecto Subido</h1>
        <% if (nombrePDF) { %>
            <p>Archivo PDF: <a href="/pdf/<%= nombrePDF %>" target="_blank"><%= nombrePDF %></a></p>
        <% } else { %>
            <p>No hay PDF subido.</p>
        <% } %>
    </div>
</body>
</html>
